html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}


.header-container {
  background: #00000040;
  height: 50px;
  z-index: 5;
  width: 100%;
  position: absolute;
}

.header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.header-list li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
.dropbtn {
  background-image: linear-gradient(to left,transparent,transparent 50%, #f27c2e 50%, #f27c2e);
  background-position: 100% 0;
  background-size: 201% 100%;
  transition: all .25s ease-in;
}

.dropdown:hover .dropbtn {
  background-position: 0 0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efeef2;
  min-width: 160px;
  border: 1px solid #9e9e9e;
  z-index: 4;
}

.dropdown-content a {
  color: #666666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #f27c2e;
}
.activ {
  background-image: linear-gradient(to left,transparent,transparent 50%, #f27c2e 50%, #f27c2e);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}
.activ:hover {
  background-position: 0 0;
   color:rgb(255, 255, 255);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.seti {
  margin-left: 324px;
}
.soc-seti {
  margin-top: -6px;
  margin-bottom: -15px;
}
.dow {
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 9px;
  width: 15px;
  height: 15px;
}
.left-seti2 {
  margin-left: -25px;
}
.left-seti3 {
  margin-left: -26px;
}
.left-seti4 {
  margin-left: -22px;
}
.dow:hover {
  border: 2px solid #f27c2e;
  border-radius: 50%;
}
.down {
  padding-bottom: 4px;
  padding-left: 3px;
} 



.blog-info a img {
  height: 124px;
  max-width: 1200px;
  padding-top: 7px;
  float: left;
}
.btn-name {
  float: left;
  margin-left: 82px;
}
.btn-name p {
  float: left;
  color: #949798;
  padding-left: 88px;
  margin-right: -106px;
  margin-top: 9px;
}

.opacity {
  top: -150px;
  width: 100%;
  position: fixed;
  background: #221e1f;
  height: 134px;
  z-index: 1;
  opacity: 0;
  transition: 1s;
}
.sticky {
  top: 0px;
  width: 100%;
  position: fixed;
  background: rgb(247, 247, 247);
  box-shadow: 0 0 3px #000000;
  height: 134px;
  z-index: 5;
  opacity: 1;
  transition: 1s;
}











button.glo {
  color: hsl(0, 0%, 100%);
  width: 200px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  display: inline;
  background-color: #dc0e81;
  background-image: linear-gradient(to left,transparent,transparent 50%,#f27b2e  50%,#f27b2e );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border: 1px solid #dc0e81;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  border-radius: 7px;
  margin-top: 49px;
  margin-left: -68px;
}

   button.glo:hover {
   background-position: 0 0;
   color:rgb(255, 255, 255);
   border: 1px solid #f1bc31;
   }
   








.blog-phone {
  float: right;
  display: grid;
}
.blog-phone p {
  color: #949798;
  margin-bottom: 0;
  margin-left: -31px;
  margin-top: 9px;
}
.blog-phone a {
  color:rgb(0, 0, 0);
  text-decoration: none;
}
.blog-phone a:hover {
  color:rgb(241, 0, 0);
}
.blog-phone a img {
  height: 21px;
  margin-top: -3px;
  margin-right: 8px;
  margin-left: -11px;
}








.gridcont {
  background-color: #ebf0f8;
  display: grid;
   grid-template-columns: 3fr 1fr 134px;
   grid-gap: 3px;
  padding-top: 14px;
margin: 0 auto;
}
.grid1 {
  border: 1px solid #dbdfe0;
  border-radius: 5px;
  background-color: white;
  margin-left: 134px;
  height: 1200px;
  
}
.grid2 {
  border: 1px solid #dbdfe0;
  border-radius: 5px;
  background-color: white;
  height: 800px;
}




















 
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  

}


.titl {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


          
      
          
          /* The Modal (background) */
          .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 2147483647; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,75%); /* Black w/ opacity */
          }
          
          /* Modal Content (image) */
          .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
          }
          
          /* Caption of Modal Image */



          


          #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
          }
        

          /* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
from {transform:translateY(-700px)}
  to {transform:translateY(0)}
}
          
          
          /* The Close Button */
          .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
          }
          
          .close:hover,
          .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
          }
          
          /* 100% Image Width on Smaller Screens */
          @media only screen and (max-width: 700px){
            .modal-content {
              width: 100%;
            }
          }



         
          
          
  


          .btn {
            display: inline-block;
            padding: 13px 20px;
            color: #fff;
            text-decoration: none;
            position: relative;
            background: transparent;
            border: 1px solid #e1e1e1;
            font: 12px/1.2 "Oswald", sans-serif;
            letter-spacing: 0.4em;
            text-align: center;
            text-indent: 2px;
            text-transform: uppercase;
            transition: color 0.1s linear 0.05s;
          }
          .btn::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #b1b1b1;
            z-index: 1;
            opacity: 0;
            transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
          }
          .btn::after {
            transition: border 0.1s linear 0.05s;
          }
          .btn .btn-inner {
            position: relative;
            z-index: 2;
          }
          .btn:hover {
            color: #ffffff;
            transition: color 0.1s linear 0s;
          }
          .btn:hover::before {
            top: 0;
            height: 100%;
            opacity: 1;
            transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
          }
          .btn:hover::after {
            border-color: #373737;
            transition: border 0.1s linear 0s;
          }
          .slideshow {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 500px;
            z-index: 1;
          }
          .slideshow .slideshow-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .slideshow .slides {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          .slideshow .slide {
            display: none;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          .slideshow .slide.is-active {
            display: block;
          }
          .slideshow .slide.is-loaded {
            opacity: 1;
          }
          .slideshow .slide .caption {
            padding: 0 100px;
            padding-top: 241px;
          }
          .slideshow .slide .image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            z-index: 1;
            background-size: cover;
            image-rendering: optimizeQuality;
          }
          .slideshow .slide .image-container::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
          .slideshow .slide .image {
            width: 100%;
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
          .slideshow .slide-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .slideshow .slide .title {
            font-size: 45px;
            font-weight: bold;
            line-height: 55px;
            letter-spacing: 0.1em;
         
          }
          .highlight {
            color: orange;
          }
          .slideshow .slide .text {
            margin: 0 auto;
            max-width: 1000px;
            font-size: 18px;
            line-height: 1.4;
          }
          .slideshow .slide .btn {
            margin-bottom: 80px;
            border-color: #fff;
          }
          .slideshow .slide .btn::before {
            background: #f27c2e;
          }
          .slideshow .pagination {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            height: 12px;
            cursor: default;
            z-index: 2;
            text-align: center;
          }
          .slideshow .pagination .item {
            display: inline-block;
            padding: 15px 5px;
            position: relative;
            width: 46px;
            height: 32px;
            cursor: pointer;
            text-indent: -999em;
            z-index: 1;
          }
          .slideshow .pagination .item + .page {
            margin-left: -2px;
          }
          .slideshow .pagination .item::before {
            content: "";
            display: block;
            position: absolute;
            top: 15px;
            left: 5px;
            width: 36px;
            height: 2px;
            background: rgba(255, 255, 255, 0.5);
            transition: background 0.2s ease;
          }
          .slideshow .pagination .item::after {
            width: 0;
            background: #fff;
            z-index: 2;
            transition: width 0.2s ease;
          }
          .slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
            background-color: #fff;
          }
          .slideshow .arrows .arrow {
            margin: -33px 0 0;
            padding: 20px;
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 3;
          }
          .slideshow .arrows .prev {
            left: 30px;
          }
          .slideshow .arrows .prev:hover .svg {
            left: -10px;
          }
          .slideshow .arrows .next {
            right: 30px;
          }
          .slideshow .arrows .next:hover .svg {
            left: 10px;
          }
          .slideshow .arrows .svg {
            position: relative;
            left: 0;
            width: 14px;
            height: 26px;
            fill: #fff;
            transition: left 0.2s ease;
          }
          



          .contssd {
            height: 50px;
            z-index: 2;
            width: 100%;
            position: absolute;
          }
          .ssd {
            list-style-type: none;
            padding: 0;
          }
          .ssd li {
            float: left;
          }
          .logotip {
            height: 150px;
            padding-top: 60px;
          }
          .turssd {
            padding-left: 102px;
          }
          .svgcros {
            margin-top: 86px;
          }
          .podbor, .grafik, .shema, .kontakty {
            height: 50px;
            margin-bottom: -27px;
          }

          .hver {
            color: #ffffff;
            text-align: center;
          }
          .turssd {
            display: inline-block;
          }
          .dropdown-content1 {
            display: none;
            position: absolute;
            background-color: #4819d8;
            width: 260px;
            border: 1px solid #435f5f;
            border-radius: 8px;
            padding-top: 9.5px;
            margin-top: -113px;
            z-index: 1;
            padding-left: 4px;
            margin-left: -64px;
          }
          .dropdown-content1 a:hover {
            color:salmon;
          }
          .turssd:hover .dropdown-content1 {
            display: block;
          }
         
          






          .modul-turov {
            border: 1px solid rgb(214, 214, 214);
            border-radius: 4px;
            background: rgb(185, 177, 177);
          }
          .modul-turov div {
            border: 1px solid rgb(255, 131, 7);
            border-radius: 4px;
            background: pink;
            margin: 10px;
            padding: 10px;
          }
          #grid-tur {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-auto-rows: 80px; /*высота модуля*/
          }














          .sldturrasrocka img {
            margin: 10px;
            border-radius: 5px;
          }         
          
        






         

          .footer {
            display: flex;
            flex-flow: row wrap;
            padding: 30px 30px 20px 30px;
            color: #2f2f2f;
            background-color: #fff;
            border-top: 1px solid #e5e5e5;
          }
          
          .footer > * {
            flex:  1 100%;
          }
          
          .footer__addr {
            margin-right: 1.25em;
            margin-bottom: 2em;
          }
          
          .footer__logo {
            font-family: 'Pacifico', cursive;
            font-weight: 400;
            text-transform: lowercase;
            font-size: 1.5rem;
          }
          
          .footer__addr h2 {
            margin-top: 1.3em;
            font-size: 15px;
            font-weight: 400;
          }
          
          .nav__title {
            font-weight: 400;
            font-size: 15px;
          }
          
          .footer address {
            font-style: normal;
            color: #999;
          }
          
          .footer__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            max-width: max-content;
            background-color: rgb(33, 33, 33, 0.07);
            border-radius: 100px;
            color: #2f2f2f;
            line-height: 0;
            margin: 0.6em 0;
            font-size: 1rem;
            padding: 0 1.3em;
          }
          
          .footer ul {
            list-style: none;
            padding-left: 0;
          }
          
          .footer li {
            line-height: 2em;
          }
          
          .footer a {
            text-decoration: none;
          }
          
          .footer__nav {
            display: flex;
            flex-flow: row wrap;
          }
          
          .footer__nav > * {
            flex: 1 50%;
            margin-right: 1.25em;
          }
          
          .nav__ul a {
            color: #999;
          }
          
          .nav__ul--extra {
            column-count: 2;
            column-gap: 1.25em;
          }
          
          .legal {
            display: flex;
            flex-wrap: wrap;
            color: #999;
          }
            
          .legal__links {
            display: flex;
            align-items: center;
          }
          
          .heart {
            color: #2f2f2f;
          }
          
          @media screen and (min-width: 24.375em) {
            .legal .legal__links {
              margin-left: auto;
            }
          }
          
          @media screen and (min-width: 40.375em) {
            .footer__nav > * {
              flex: 1;
            }
            
            .nav__item--extra {
              flex-grow: 2;
            }
            
            .footer__addr {
              flex: 1 0px;
            }
            
            .footer__nav {
              flex: 2 0px;
            }
          }






















          